// Global styling for this template
body,
html {
    width: 100%;
    height: 100%;
}

body {
    // @include serif-font;
    font-family: 'Work Sans', sans-serif;
    background-color: $black-dark;
}

hr {
    max-width: 50px;
    border-width: 3px;
    border-color: $main-sec-color;
}

hr.light {
    border-color: white;
}

a {
    color: $white-gray;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // @include sans-serif-font;
    font-family: 'Righteous', cursive;
    color: $white-alpha;
}

h2 {
    font-size: 4em;
}

p {
    font-size: 18px;
    line-height: 2;
    margin-bottom: 20px;
}

.bg-dark {
    color: white;
    background-color: $gray-darker !important;
}

section {
    padding: 100px 0;
    background-color: $black-dark;
    color: #888;
}

.section-heading {
    margin-top: 0;
}

body {
    -webkit-tap-highlight-color: $gray-darker;
}

.btn-primary {
    // color: #cccaca;
    // background-color: #2e2d2d;
    color: $white-alpha;
    background-color: #2e2d2d;
    -webkit-transition: all 0.5s;
    /* Safari */
    transition: all 0.5s;
    &:hover {
        background-color: $white-alpha;
        color: #2e2d2d;
    }
}

.sr-icons {
    color: $light-grey;
}

.bg-even {
    background-color: $black-dark;
}

.bg-odd {
    background-color: $black-light;
}

#particles-js {
    background-color: inherit;
}